/* Custom Theme for Onsen UI 2.10.6 */

/* Custom Theme for Onsen UI 2.10.4 */

/* Custom Theme for Onsen UI 2.10.4 */

/* Custom Theme for Onsen UI 2.9.2 */

/* Custom Theme for Onsen UI 2.9.2 */


:root {
  /* variables for iOS components */
  --background-color: rgba(239,239,244,0);
  --text-color: rgba(48,32,32,1);
  --sub-text-color: #999;
  --highlight-color: #800000;
  --second-highlight-color: #900000;
  --border-color: #800000;
  --button-background-color: var(--highlight-color);
  --button-cta-background-color: var(--second-highlight-color);
  --toolbar-background-color: #800000;
  --toolbar-button-color: rgba(255,255,255,1);
  --toolbar-text-color: rgba(255,255,255,1);
  --toolbar-border-color: rgba(255,223,223,1);
  --button-bar-color: var(--highlight-color);
  --button-bar-active-text-color: #fff;
  --button-bar-active-background-color: rgba(176,109,109,0.72);
  --button-light-color: black;
  --segment-color: #800000;
  --segment-active-text-color: rgba(255,255,255,1);
  --segment-active-background-color: #800000;
  --list-background-color: rgba(255,255,255,0.25);
  --list-header-background-color: rgba(255,247,240,0.5);
  --list-tap-active-background-color: rgba(244,215,190,1);
  --list-item-chevron-color: #800000;
  --progress-bar-color: var(--highlight-color);
  --progress-bar-secondary-color: #FF8282;
  --progress-bar-background-color: transparent;
  --progress-circle-primary-color: var(--highlight-color);
  --progress-circle-secondary-color: #FF8282;
  --progress-circle-background-color: rgba(0,0,0,0);
  --tabbar-background-color: #400000;
  --tabbar-text-color: rgba(188,151,151,1);
  --tabbar-highlight-text-color: rgba(255,255,255,1);
  --tabbar-border-color: #800000;
  --switch-highlight-color: #800000;
  --switch-border-color: rgba(201,162,162,1);
  --switch-background-color: rgba(255,255,255,1);
  --range-track-background-color: #FF8282;
  --range-track-background-color-active: var(--highlight-color);
  --range-thumb-background-color: #800000;
  --modal-background-color: rgba(0, 0, 0, 0.7);
  --modal-text-color: #fff;
  --alert-dialog-background-color: #f4f4f4;
  --alert-dialog-text-color: hsl(0,3.08%,12.54%);
  --alert-dialog-button-color: var(--highlight-color);
  --alert-dialog-separator-color: #ddd;
  --dialog-background-color: #f4f4f4;
  --dialog-text-color: var(--text-color);
  --popover-background-color: white;
  --popover-text-color: rgba(48,32,32,1);
  --action-sheet-title-color: #8f8e94;
  --action-sheet-button-separator-color: rgba(0, 0, 0, 0.1);
  --action-sheet-button-color: #900000;
  --action-sheet-button-destructive-color: #fe3824;
  --action-sheet-button-background-color: rgba(255, 255, 255, 0.9);
  --action-sheet-button-active-background-color: #e9e9e9;
  --action-sheet-cancel-button-background-color: #fff;
  --notification-background-color: #fe3824;
  --notification-color: white;
  --search-input-background-color: rgba(3, 3, 3, 0.09);
  --fab-text-color: #ffffff;
  --fab-background-color: rgba(128,0,0,0.4);
  --fab-active-background-color: color(var(--fab-background-color) a(70%));
  --card-background-color: white;
  --card-text-color: #211F1F;
  --toast-background-color: rgba(0, 0, 0, 0.8);
  --toast-text-color: white;
  --toast-button-text-color: white;
  --select-input-color: #400000;
  --select-input-border-color: var(--border-color);

  /* variables for Material Design components */
  --material-background-color: rgba(236,239,241,0);
  --material-text-color: rgba(48,32,32,1);
  --material-notification-background-color: #900000;
  --material-notification-color: white;
  --material-switch-active-thumb-color: #800000;
  --material-switch-active-background-color: rgba(100,37,37,0.5);
  --material-switch-inactive-thumb-color: #f1f1f1;
  --material-switch-inactive-background-color: rgba(100,37,37,0.5);
  --material-range-track-color: #FF8282;
  --material-range-thumb-color: #800000;
  --material-range-disabled-thumb-color: rgba(221,177,177,1);
  --material-range-disabled-thumb-border-color: #eeeeee;
  --material-range-zero-thumb-color: #f2f2f2;
  --material-toolbar-background-color: #800000;
  --material-toolbar-text-color: rgba(255,255,255,1);
  --material-toolbar-button-color: rgba(255,255,255,1);
  --material-segment-background-color: #800000;
  --material-segment-active-background-color: rgba(255,236,236,0.75);
  --material-segment-text-color: rgba(255,255,255,1);
  --material-segment-active-text-color: #800000;
  --material-button-background-color: #800000;
  --material-button-text-color: #ffffff;
  --material-button-disabled-background-color: color(#4f4f4f a(26%));
  --material-button-disabled-color: color(black a(26%));
  --material-flat-button-active-background-color: color(#999 a(20%));
  --material-list-background-color: rgba(255,240,240,0.25);
  --material-list-item-separator-color: rgba(242,147,147,1);
  --material-list-header-text-color: #800000;
  --material-checkbox-active-color: #800000;
  --material-checkbox-inactive-color: #800000;
  --material-checkbox-checkmark-color: #ffffff;
  --material-radio-button-active-color: #800000;
  --material-radio-button-inactive-color: rgba(141,62,62,1);
  --material-radio-button-disabled-color: rgba(190,155,155,1);
  --material-text-input-text-color: rgba(48,32,32,1);
  --material-text-input-active-color: #900000;
  --material-text-input-inactive-color: #afafaf;
  --material-search-background-color: #fafafa;
  --material-dialog-background-color: #ffffff;
  --material-dialog-text-color: var(--material-text-color);
  --material-alert-dialog-background-color: #ffffff;
  --material-alert-dialog-title-color: hsl(0,8.41%,20.98%);
  --material-alert-dialog-content-color: hsl(0,8.41%,20.98%);
  --material-alert-dialog-button-color: #800000;
  --material-progress-bar-primary-color: #800000;
  --material-progress-bar-secondary-color: rgba(255,130,130,1);
  --material-progress-bar-background-color: transparent;
  --material-progress-circle-primary-color: var(--material-progress-bar-primary-color);
  --material-progress-circle-secondary-color: #FF8282;
  --material-progress-circle-background-color: transparent;
  --material-tabbar-background-color: #400000;
  --material-tabbar-text-color: #BC9797;
  --material-tabbar-highlight-text-color: rgba(255,255,255,1);
  --material-tabbar-highlight-color: rgba(128,0,0,0.4);
  --material-fab-text-color: rgba(255,255,255,1);
  --material-fab-background-color: rgba(128,0,0,0.4);
  --material-fab-active-background-color: rgba(128,0,0,0.7);
  --material-card-background-color: white;
  --material-card-text-color: #211F1F;
  --material-toast-background-color: rgba(0, 0, 0, 0.8);
  --material-toast-text-color: white;
  --material-toast-button-text-color: rgba(255,203,203,1);
  --material-select-input-color: #400000;
  --material-select-input-active-color: rgba(0, 0, 0, 0.15);
  --material-select-input-inactive-color: rgba(121,79,79,0.81);
  --material-select-border-color: color(black a(12%));
  --material-popover-background-color: #fafafa;
  --material-popover-text-color: var(--material-text-color);
  --material-action-sheet-text-color: #800000;

  /* others */
  --tap-highlight-color: transparent;
}
